@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: grid;
  place-items: center;

  align-items: center;
  justify-content: center;
  text-align: center;

  background-color: #000;
  color: #fff;

  font-family: 'Roboto', sans-serif;
  text-align: center;

  overflow: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

div#container {
  position: absolute;

  min-width: fit-content;
  max-width: 60vw;

  /* Centering this way due to centering issue in chrome */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  z-index: 2;
}

#countdown {
  cursor: default;

  background-color: #fff;
  border-radius: 16px 16px 0px 0px;
  color: #000;

  font-size: 5vmax;
  font-weight: bold;

  padding: 4px;
  margin: 0;
}

#title {
  cursor: default;

  font-size: 2vmax;
  font-weight: lighter;

  margin: 8px;
}

div a {
  position: relative;

  font-size: 1.2vmax;
  top: 4px;
}

#player {
  display: none;
}

/* Controls */
div.controls {
  background-color: #fff;
  border-radius: 0 0 16px 16px;
}

div.controls .buttons {
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
  color: #000;
}

div.controls > * {
  cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 8px;

  background: #000;
  outline: none;
  opacity: .7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  padding: 0;
  margin: 16px 0 4px;
}

input[type=range]:hover {
  opacity: 1;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  
  width: 24px;
  height: 24px;

  background: black url('./assets/baseline_volume_down_white_18dp.png');
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  border-radius: 50%;

  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  width: 24px;
  height: 24px;

  background:  black url('./assets/baseline_volume_down_white_18dp.png');
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  border-radius: 50%;

  cursor: pointer;
}

#previousTrack, #toggleTrack, #nextTrack {
  transition: font-size .2s;
}

#previousTrack:hover, #previousTrack:active, #toggleTrack:hover, #toggleTrack:active, #nextTrack:hover, #nextTrack:active {
  font-size: 60px;

  transition: font-size .2s;
}

div.background {
  position: absolute;
  width: 100vw;
  height: 100vh;

  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  image-rendering: -moz-crisp-edges;
}

div.background.backdrop {
  background-color: #000;
}

div.background#sun {
  background-size: 10vmax 10vmax;
  background-image: url('./assets/sun.png');
  
  width: 10vmax;
  height: 10vmax;

  left: 0;
  top: 0;

  opacity: 1;
}

div.background.image.l1 {
  background-image: url('./assets/buildings_l1.png');
}

div.background.image.l2 {
  background-image: url('./assets/buildings_l2.png');
}

div.background.image.l3 {
  background-image: url('./assets/buildings_l3.png');
  opacity: .4;
}

div.background.light.l1 {
  background-image: url('./assets/light-l1.png');
}

div.background.light.l2 {
  background-image: url('./assets/light-l2.png');
  opacity: .3;
}

#foreground-canvas {
  z-index: 1;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  div a {
    font-size: 16px;
    top: 8px;
  }

  div#container {
    /* Setting a min-width so the countdown isn't too cramped on small screens */
    min-width: 80vw;
  }

  #countdown {
    font-size: 36px;
  }

  #title {
    font-size: 24px;
  }
}